<section id="total-experts" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="services-heading">Total experts on Particular technology in Knoldus </h1>
                <h2>18</h2>
            </div>
        </div>
    </div>
</section>
<section id="top-experts" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="services-heading">List of Top experts </h1>
                 <table class="table table-bordered table-striped">
                     <thead>
                     <th>ID</th>
                     <th>Name</th>
                     <th>Grade in %</th>
                     </thead>
                     <tbody *ngFor="let i of expertsArray">
                     <tr>
                         <td>{{i.id}}</td>
                         <td>{{i.name}}</td>
                         <td>{{i.percentage}}%</td>
                     </tr>
                     </tbody>
                     <!--<tbody>
                     <tr>
                         <td>1</td>
                         <td>Pranjut</td>
                         <td>98%</td>
                     </tr>
                     <tr>
                         <td>2</td>
                         <td>Anuj</td>
                         <td>90%</td>
                     </tr>
                     <tr>
                         <td>3</td>
                         <td>Ashu</td>
                         <td>90%</td>
                     </tr>
                     </tbody>-->
                 </table>
            </div>
        </div>
    </div>
</section>