<!-- spacer section -->

<section id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="services-heading"> What we serve</h1>
            </div>
        </div>
    </div>
    <div class="container md-container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-code fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><p>26</p></div>
                                <div><p class="all-services-text">Techniques</p></div>
                            </div>
                        </div>
                    </div>
                    <a href="#technologies">
                        <div class="panel-footer">
                            <span class="pull-left">View all</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bullseye fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><p>12</p></div>
                                <div><p class="all-services-text">Framework</p></div>
                            </div>
                        </div>
                    </div>
                    <a href="#frameworks">
                        <div class="panel-footer">
                            <span class="pull-left">View all</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><p>124</p></div>
                                <div><p class="all-services-text">Languages</p></div>
                            </div>
                        </div>
                    </div>
                    <a href="#languages">
                        <div class="panel-footer">
                            <span class="pull-left">View all</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-wrench fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><p>13</p></div>
                                <div><p class="all-services-text">Tools</p></div>
                            </div>
                        </div>
                    </div>
                    <a href="#tools">
                        <div class="panel-footer e_swing">
                            <span class="pull-left">View all</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="header-wrapper" class="header-slider">
    <header class="clearfix">
        <div class="logo">
            <h1 class="brand"><a href="#" style="color:#72dac7; text-decoration:none">Knol specialist</a></h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="main-flexslider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <p class="home-slide-content">
                                    <strong>creative &</strong> passionate
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    Experts & <strong> Innovative</strong>
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    We loves <strong>to Explore</strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end slider -->
                </div>
            </div>
        </div>
    </header>
</div>
<!-- spacer section -->
<section class="spacer green">
    <div class="container">
        <div class="row">
            <div class="col-md-6 alignright flyLeft animated fadeInLeftBig">
                <blockquote class="large">
                    Let's find out the experts for particular requirement and technologies <cite>Vikas Hazarti, Bhavya
                    Agarwal</cite>
                </blockquote>
            </div>
            <div class="col-md-6 aligncenter flyRight animated fadeInRightBig">
                <i class="icon-coffee icon-10x"></i>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="technologies" class="container client">
    <div class="headings">Fine Technologies </div>
    <ul class="portfolio-item">
        <li *ngFor="let i of arr" class="portfolio client-logo e_swing">
            <a href="http://www.starbucks.com/" target="_blank">
                <img alt="language" src="{{i.imgUrl}}">
                <div class="portfolio-overlay animated bounceInDown">
                    <div class="thumb-info">
                        <h5>{{i.title}}</h5>
                        <i class="icon-plus icon-2x"></i>
                    </div>
                </div>
            </a>
        </li>
    </ul>
        </div>
</section>
<section>
    <div id ="frameworks" class="container client">
        <div class="headings">Fine Framework </div>
        <ul class="portfolio-item">
            <li *ngFor="let i of arr" class="portfolio client-logo e_swing">
                <a href="http://www.starbucks.com/" target="_blank">
                    <img alt="language" src="{{i.imgUrl}}">
                    <div class="portfolio-overlay animated bounceInDown">
                        <div class="thumb-info">
                            <h5>{{i.title}}</h5>
                            <i class="icon-plus icon-2x"></i>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<section>
    <div id="languages"class="container client">
        <div class="headings">Fine Languages </div>
        <ul class="portfolio-item">
            <li *ngFor="let i of arr" class="portfolio client-logo e_swing">
                <a href="http://www.starbucks.com/" target="_blank">
                    <img alt="language" src="{{i.imgUrl}}">
                    <div class="portfolio-overlay animated bounceInDown">
                        <div class="thumb-info">
                            <h5>{{i.title}}</h5>
                            <i class="icon-plus icon-2x"></i>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<section>
    <div id="tools" class="container client">
        <div class="headings">Fine Tools </div>
        <ul class="portfolio-item">
            <li *ngFor="let i of arr" class="portfolio client-logo e_swing">
                <a href="http://www.starbucks.com/" target="_blank">
                    <img alt="language" src="{{i.imgUrl}}">
                    <div class="portfolio-overlay animated bounceInDown">
                        <div class="thumb-info">
                            <h5>{{i.title}}</h5>
                            <i class="icon-plus icon-2x"></i>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

